.menu {
    margin-top: 10px;
    margin-left:30px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 1000;
    display: inline-block;
    margin-bottom: 30px;
    word-spacing: 4px;
    letter-spacing: 3px;
} 

.menu:hover{
    color: darkgray;
}


header{
position: sticky;
top:0;
padding: 1px;
background-color: #3e2723 ;

}
.img1{
    width: 60px;
}


.title{
text-align: center;
color: rgb(255, 255, 255);
font-family: cursive;
font-size: 150px;
padding: 100px;
background-image: url("R.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 border: 1px solid white;
border-width: 5px;
margin-top: 0px;
} 

body {

    margin-left: 170px;
    margin-right: 170px;
  background-color: #AC8460;
  border: 5px solid #212121;
}

#sis{
    padding: 3px;
    border:5px solid #212121;
    background-color: #212121;
}

#tit{

    color: #DEB99C;
    display: inline-block;
    line-height: 1;
    max-width: 380px;
    outline: none;
    overflow: hidden;
    padding: 16px 12px;
    text-decoration: none;
    text-overflow: ellipsis;
}

.cololo{
    margin-top: -100px;
}